<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <title> password reset</title>
    <style>.beautiful{
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #1bb7e7; 
      background-color: #2d2b2b; 
      padding: 10px; 
      border-radius: 5px; 
      border: 1px solid #ccc; 
      box-shadow: 0 2px 4px rgba(201, 186, 186, 0.1);
      margin-bottom: 20px; 
  }
    body{
      background-color: black;
      color: #ccc;

  }
  input{
    color:white;
    background-color: #2d2b2b;
  }
  

</style>
</head>
<body>


{% if validlink %}
<h2 class="font-weight-bold mt-3">Password Reset complete</h2>
<p class="beautiful"> Your password has been set ,You may go ahead and login now.
</P>
<a href="{% url 'user_login' %}" class="btn btn-primary">Log in</a>

{% endif %}



</body>
</html>