<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <title> password reset</title>
    <style>.beautiful{
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #1bb7e7; 
      background-color: #2d2b2b;
      padding: 10px; 
      border-radius: 5px; 
      border: 1px solid #ccc; 
      box-shadow: 0 2px 4px rgba(201, 186, 186, 0.1);
      margin-bottom: 20px;
  }
    body{
      background-color: black;
      color: #ccc;

  }
  input{
    color:white;
    background-color: #2d2b2b;
  }
  

</style>
</head>
<body>

<h4>Password Reset sent</h4>
<p class="beautiful"> We have emailed u instructions for setting your password ,if an account exists with the email you enetred,You should 
    recieve an email,please make sure you have entered the athe address you
    registered with,
    and check your spam folder.
</P>



</body>
</html><!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <title> password reset</title>
</head>
<body>

<h4>Password Reset sent</h4>
<p class="beautiful"> We have emailed u instructions for setting your password ,if an account exists with the email you enetred,You should 
    recieve an email,please make sure you have entered the athe address you
    registered with,
    and check your spam folder.
</P>



</body>
</html>